############################################
# HELP FILE
############################################
HELP.md

############################################
# Gradle
############################################
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

############################################
# Logs
############################################
*.log
logs/

############################################
# Runtime files
############################################
*.pid
*.seed
*.pid.lock

############################################
# H2 Database (si usas file mode)
############################################
*.mv.db
*.trace.db

############################################
# IntelliJ IDEA
############################################
.idea/
*.iws
*.iml
*.ipr
out/

############################################
# STS / Eclipse
############################################
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

############################################
# NetBeans
############################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

############################################
# VS Code
############################################
.vscode/

############################################
# OS Files
############################################
.DS_Store
Thumbs.db

############################################
# Env files (si los usas)
############################################
.env
.env.local